.App {
  /* text-align: center; */
  margin-top: 2cm;
  margin-left: 15cm;
}
.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 58%;
  color: rgb(47, 134, 69);
  font-family:'Poppins',sans-serif;
  font-size: 50px;
}
.side{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 32%;
  right: 58%;
  color: rgb(88, 95, 90);
  font-family:'Poppins',sans-serif;

}
.paragraph{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 40%;
  right: 50%;
  left: 20%;
  color: rgb(88, 88, 88);
  font-size: 50px;
  font-family:'Poppins',sans-serif;
    font-size: 1.2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
